{% extends "azure_content/base.html" %}
{% load static %}

{% block content %}
<div class="shadowholder">
    <div class="subtitel2"> 
        <div style="text-align:center;"> <i class="fas fa-map-marker-alt mr-2"></i> Pick Location </div>
    </div>
    <div class="content mb-3"> 
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6">
                    <form method="post" action="{% url 'create-views'%}">
                        {% csrf_token %}
                        <!-- Add fields to collect user address -->
                        
                        <div class="form-group" style="max-width: 350px;">
                            <label for="latitude">Latitude:</label>
                            <input  style="border-color:#6F53E5;" type="text" class="form-control" id="latitude" name="latitude" >
                        </div>
                        <div class="form-group" style="max-width: 350px;">
                            <label for="longitude">Longitude:</label>
                            <input  style="border-color:#6F53E5;" type="text" class="form-control" id="longitude" name="longitude" >
                        </div>
                        <div class="form-group" style="max-width: 350px;">
                            <label for="address">Address:</label>
                            <input  style="border-color:#6F53E5;" type="text" class="form-control" id="address" name="address" >
                        </div>
                        <div class="form-group" style="max-width: 350px;">
                            <label for="customer_type">Are you a Resilience AI customer or an individual?</label>
                            <select style="border-color:#6F53E5;" class="form-control" id="customer_type" name="customer_type">
                                <option value="Resilience AI Customer">Resilience AI Customer</option>
                                <option value="Individual">Individual</option>
                            </select>
                        </div>
                        <button style="text-align:center; background-color:#6F53E5;color:white;margin-top:12px;" class="btn " type="button" onclick="getCurrentLocation()">Get Current Location</button>

                        <button style="text-align:center; background-color:#6F53E5;color:white;margin-top:12px;" type="submit" class="btn">Next</button>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="card" id="map-container">
                        <div class="card-header" id="location-map-header" style="text-align:center; background-color:#6F53E5;color:white;">Pick Your Building Location</div>
                        <div class="card-body p-0">
                            <div id="map" style="height: 400px;"></div>
                            <!-- Add the search input box -->

                            <input style="border-color:#6F53E5; margin-left:400px; margin-top:10px; height:30px;" id="pac-input" class="controls" type="text" placeholder="Search Box">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2ioW3WXrv2bEaNdh438OKkOZzGd0nBsA&libraries=places"></script>
<script>
    // Your JavaScript code for map initialization and interaction
    var map;
    var marker;
    var accuracy;

    // Function to initialize the map
    function initMap() {
        // Creating a map object
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 28, lng: 77},
            zoom: 15,
            mapTypeId: 'hybrid',
            maxZoom: 21,
            minZoom: 3,
            zoomControl: false,
            mapTypeControl: false,
            fullscreenControl: false,
            scrollwheel: true
        });

        // Creating a geocoder object
        geocoder = new google.maps.Geocoder();

        // Creating a draggable marker
        marker = new google.maps.Marker({
            position: {lat: 0, lng: 0},
            map: map,
            title: 'Your Location',
            draggable: true
        });

        // Adding drag event listener to the marker
        marker.addListener('dragend', function() {
            var pos = marker.getPosition();
            document.getElementById('latitude').value = pos.lat();
            document.getElementById('longitude').value = pos.lng();
            updateAccuracy(pos);
        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
            searchBox.setBounds(map.getBounds());
        });

        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
            var places = searchBox.getPlaces();

            if (places.length == 0) {
                return;
            }

            // For each place, get the icon, name and location.
            var bounds = new google.maps.LatLngBounds();
            places.forEach(function(place) {
                if (!place.geometry) {
                    console.log("Returned place contains no geometry");
                    return;
                }
                var pos = place.geometry.location;
                marker.setPosition(pos);
                map.setCenter(pos);
                document.getElementById('latitude').value = pos.lat();
                document.getElementById('longitude').value = pos.lng();
                updateAccuracy(pos);
            });
        });
    }

    function updateAccuracy(pos) {
        console.log(pos);
        geocoder.geocode({'location': pos}, function(results, status) {
            if (status === 'OK') {
                if (results[0]) {
                    accuracy = results[0].formatted_address;
                    document.getElementById('address').value = accuracy;
                } else {
                    accuracy = "Unknown";
                    document.getElementById('address').value = accuracy;
                }
            } else {
                accuracy = "Unknown";
                document.getElementById('address').value = accuracy;
            }
        });
    }

    // Function to get current location
    function getCurrentLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                // Setting map center to current location
                map.setCenter(pos);

                // Setting marker position
                marker.setPosition(pos);

                // Update latitude and longitude in form
                document.getElementById('latitude').value = pos.lat;
                document.getElementById('longitude').value = pos.lng;
                updateAccuracy(pos);
            }, function() {
                handleLocationError(true, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, map.getCenter());
        }
    }

    // Function to handle location errors
    function handleLocationError(browserHasGeolocation, pos) {
        var infoWindow = new google.maps.InfoWindow({map: map});
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
    }



    initMap();
</script>
{% endblock %}
