{% extends "DRF_App/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content%}

<div class="shadowholder">
    <div class="subtitel2"> 
        <div style="text-align:center;"> <i class="fas fa-building" style="color: #6F53E5;"></i> Building Details </div>
    </div>
        <div class="content mb-3"> 
            <div class="container mt-5">
                <div class="row">
                    <!-- First Container -->
                    <div class="col-md-6">
                        <form method="post" action="{% url 'resiliance-views' building_id=building_id %}">
                            {% csrf_token %}
                            <!-- Add fields to collect user details -->
                                <div class="form-group">
                                    <label for="question-1">What is the built up area of the building?</label>
                                    <select class="form-control" id="question-1" name="question-1">
                                        <option value="Less than 25 sq. m">Less than 25 sq. m</option>
                                        <option value="25 - 100 sq. m">25 - 100 sq. m</option>
                                        <option value="100 - 2000 sq. m">100 - 2000 sq. m</option>
                                        <option value="More than 2000 sq. m">More than 2000 sq. m</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="question-2">What is the age of the building?</label>
                                    <select class="form-control" id="question-2" name="question-2">
                                        <option value="less than 2 years">Less than 2 years</option>
                                        <option value="2-5 years">2-5 years</option>
                                        <option value="5-10 years">5-10 years</option>
                                        <option value="More than 10 years">More than 10 years</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="question-3">What are the number of floors or storeys in the building?</label>
                                    <select class="form-control" id="question-3" name="question-3">
                                        <option value="Ground floor only">Ground floor only</option>
                                        <option value="1-5 storeys">1-5 storeys</option>
                                        <option value="5-8 storeys">5-8 storeys</option>
                                        <option value="More than 8 storeys">More than 8 storeys</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="question-4">What is your building structure?</label>
                                    <select class="form-control" id="question-4" name="question-4">
                                        <option value="Framed structure">Framed structure</option>
                                        <option value="Loadbearing">Loadbearing</option>
                                        <option value="Steel frame">Steel frame</option>
                                        <option value="Truss structure">Truss structure</option>
                                        <option value="Tensile">Tensile</option>
                                        <option value="Non-Engineering">Non-Engineering</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="question-5">What is the structural material of the walls of your building?</label>
                                    <select class="form-control" id="question-5" name="question-5">
                                        <option value="Concrete">Concrete</option>
                                        <option value="Stone">Stone</option>
                                        <option value="Brick">Brick</option>
                                        <option value="Metal (steel/tin)">Metal (steel/tin)</option>
                                        <option value="Bamboo">Bamboo</option>
                                        <option value="Timber/Wood">Timber/Wood</option>
                                        <option value="Thick mud">Thick mud</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="question-6">What is the structural material of the roof of your building?</label>
                                    <select class="form-control" id="question-6" name="question-6">
                                        <option value="RCC slab/Concrete">RCC slab/Concrete</option>
                                        <option value="Metal/Tin roof">Metal/Tin roof</option>
                                        <option value="Thatch roof">Thatch roof</option>
                                        <option value="Slate/Mud tiles">Slate/Mud tiles</option>
                                        <option value="Synthetic roof(plastic/rubber/tarpaulin)">Synthetic roof(plastic/rubber/tarpaulin)</option>
                                        <option value="Asphalt sheet">Asphalt sheet</option>
                                        <option value="Asbestos sheet">Asbestos sheet</option>
                                        <option value="Wood shakes">Wood shakes</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="question-7">What visible damage does the building have?</label>
                                    <select class="form-control" id="question-7" name="question-7">
                                        <option value="Visible cracks in floor">Visible cracks in floor</option>
                                        <option value="Tilted structure">Tilted structure</option>
                                        <option value="Uneven or sloping floor">Uneven or sloping floor</option>
                                        <option value="Sagging roof">Sagging roof</option>
                                        <option value="Leaning walls">Leaning walls</option>
                                        <option value="Water leakage in wall/roof">Water leakage in wall/roof</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="question-8">Number of buildings (density) within 100m perimeter of your building?</label>
                                    <select class="form-control" id="question-8" name="question-8">
                                        <option value="Less than 10">Less than 10</option>
                                        <option value="10-50">10-50</option>
                                        <option value="50-100">50-100</option>
                                        <option value="More than 100">More than 100</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="question-9">Are there any tall trees or high tension lines near your building that could fall during storm or cyclone?</label>
                                    <select class="form-control" id="question-9" name="question-9">
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                </div>
                                    <div class="form-group">
                                        <label for="question-10">What is the type of the walls?</label>
                                        <select class="form-control" id="question-10" name="question-10">
                                            <option value="Load bearing">Load bearing</option>
                                            <option value="Non-load bearing">Non-load bearing</option>
                                            <option value="Shear">Shear</option>
                                            <option value="Retaining">Retaining</option>
                                            <option value="Others">Others</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="question-11">Is your building structure fire-resistive ?</label>
                                        <select class="form-control" id="question-11" name="question-11">
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="question-12">How many openings are there in your building ?</label>
                                        <input type="number" class="form-control" id="question-12" name="question-12" >
                                    </div>
                                    <div class="form-group">
                                        <label for="question-13">Dose the house has plinth protection ?</label>
                                        <select class="form-control" id="question-13" name="question-13">
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="question-14">What is the soft storey impact of the structure ?</label>
                                        <select class="form-control" id="question-14" name="question-14">
                                            <option value="Concrete">Concrete</option>
                                            <option value="Stone">Stone</option>
                                            <option value="Brick">Brick</option>
                                            <option value="Metal (steel/tin)">Metal (steel/tin)</option>
                                            <option value="Bamboo">Bamboo</option>
                                            <option value="Timber/Wood">Timber/Wood</option>
                                            <option value="Thick mud">Thick mud</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="question-15">What is condition of the exterior walls, windows and doors in terms of durability and resistance to external forces(wind impact)?</label>
                                        <select class="form-control" id="question-15" name="question-15">
                                            <option value="Not get hampered">Not get hampered</option>
                                            <option value="See cracks in windows and doors">See cracks in windows and doors</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="question-16">Details of cracks within the house (length in meters)?</label>
                                        <input type="number" class="form-control" id="question-16" name="question-16">
                                    </div>
                                    <div class="form-group">
                                        <label for="question-17">Type of climate event?</label>
                                        <select class="form-control" id="question-17" name="question-17">
                                            <option value="Flash flood">Flash flood</option>
                                            <option value="Reverine flood">Reverine flood</option>
                                            <option value="Cyclone">Cyclone</option>
                                            <option value="Heatwave">Heatwave</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="question-18">What are the visible damage in the overall building columns or structural wall?</label>
                                        <select class="form-control" id="question-18" name="question-18">
                                            <option value="No damage on columns/ structural walls">No damage on columns/ structural walls</option>
                                            <option value="Visible Minor Cracks on coloumns/ members">Visible Minor Cracks on coloumns/ members</option>
                                            <option value="Visible deep cracks on coloumns/ members">Visible deep cracks on coloumns/ members</option>
                                            <option value="One or more coloums/ structural member has curved or collapsed">One or more coloums/ structural member has curved or collapsed</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="question-19">What is the visible damage in walls?</label>
                                        <select class="form-control" id="question-19" name="question-19">
                                            <option value="Minor Cracks on wall plaster">Minor Cracks on wall plaster</option>
                                            <option value="Visible cracks on Corner of door/ window">Visible cracks on Corner of door/ window</option>
                                            <option value="Major Deep cracks on the walls">Major Deep cracks on the walls</option>
                                            <option value="Wall has collapsed">Wall has collapsed</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="question-20">What is the magnitude of roof damage?</label>
                                        <select class="form-control" id="question-20" name="question-20">
                                            <option value="No Damage to the roof">No Damage to the roof</option>
                                            <option value="Small portion of the roof has damaged">Small portion of the roof has damaged</option>
                                            <option value="Large portion of the roof has damaged">Large portion of the roof has damaged</option>
                                            <option value="Roof / Tin flown away">Roof / Tin flown away</option>
                                            <option value="RCC slab curved or collapsed">RCC slab curved or collapsed</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="question-21">What is the damage to the building/premise?</label>
                                        <select class="form-control" id="question-21" name="question-21">
                                            <option value="The building has washed away">The building has washed away</option>
                                            <option value="The land under the building is washed away">The land under the building is washed away</option>
                                            <option value="Retaining wall in premise washed away">Retaining wall in premise washed away</option>
                                            <option value="Land is unstable">Land is unstable</option>
                                            <option value="Tree fallen on building premise">Tree fallen on building premise</option>
                                            <option value="High tension line has fallen on building / premise">High tension line has fallen on building / premise</option>
                                            <option value="House adjacent to building is unsafe">House adjacent to building is unsafe</option>
                                        </select>
                                    </div>                          
                            <button style="text-align:center; background-color:#6F53E5;color:white;margin-top:12px;" type="submit" class="btn">Submit</button>
                        </form>
                                        
                    </div>
            
                    <!-- Second Container -->
                </div>
            </div>
        </div>
</div>
</div>



{% endblock content%}